// Color Variables

// Primary Colors
$color-background: #F4F6F8;   // Main Background Color
$color-primary: #007BFF;      // Primary Action Color
$color-secondary: #6C757D;    // Secondary Action Color

// Text Colors
$color-text-primary: #212529;  // Primary Text Color
$color-text-secondary: #495057; // Secondary Text Color
$color-text-placeholder: #6C757D; // Placeholder Text Color

// Status Colors
$color-success: #28A745;       // Success Color
$color-warning: #FFC107;       // Warning Color
$color-danger: #DC3545;         // Error Color

// Accent Colors
$color-info: #17A2B8;          // Info Color
$color-light-accent: #E9ECEF;  // Light Accent Color

$fz-xxs: 0.8rem;    // 8px
$fz-xs: 1rem;       // 10px
$fz-sm: 1.2rem;     // 12px
$fz-md: 1.6rem;     // 16px
$fz-lg: 2rem;       // 20px
$fz-xl: 2.4rem;     // 24px
$fz-xxl: 3.2rem;    // 32px
$fz-xxxl: 4.8rem;   // 48px
