

html {
    font-size: 10px;
  }
// Primary Colors
$color-background: #080909;
$color-primary: #101214;
$color-secondary: #1d2125;

// Text Colors
$color-text-primary: #fff;
$color-text-placeholder: #b6c2cf;

// Status Colors
$color-high: #1569f1;
$color-medium: #1cab06;
$color-low: #c8b105;
$color-danger: #f11515;

$fz-xxs: 0.8rem;
$fz-xs: 1rem;
$fz-sm: 1.2rem;
$fz-md: 1.6rem;
$fz-lg: 2rem;
$fz-xl: 2.4rem;
$fz-xxl: 3.2rem;
$fz-xxxl: 4.8rem;
